{% block driverpage1 %}
<div class="container">
    <div id="dwheader">
        <div class="row" style="text-align:justify">
            <h5 style="background-color: #F1F1F1;">
                This is an example driver employment application. Carriers do not need to use this exact form, but must have a completed and
                signed employment application for all drivers that contains the information listed in
                <a style="color:#2813FE"
                href="https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&SID=a345060da120c0649f38b8715244f29e&h=L&mc=true&n=pt49.5.391&r=PART&ty=HTML#se49.5.391_121">
                49 CFR 391.21.</a>
            </h5>
        </div>
        <div class="row">
            <div class="col-xs-12 p-0" style="text-align:center" >
                <p style="margin:0px;padding:0">
                    <b>
                    DRIVER EMPLOYMENTAPPLICATION
                    </b>
                </p>
                <h6 style="margin:0px">
                    {{data.companyName}} &nbsp; {{data.companyAddress}} &nbsp; {{data.companyCity}} &nbsp; {{data.companyState}}
                </h6>
                <span>
                    An Equal Opportunity Employer
                </span>
            </div>
        </div>
        <div class="row" style="margin-top:6px;font-size:10px">
        <span>
            COMPLETE IN FULL OR IT WILL NOT BE CONSIDERED
        </span>
    </div>
    </div>

    <!--  APPLICANT INFORMATION Start  -->
    <div id="applicantinfo">
        <div class="row">
            <div class="" style="background-color: black; color: white; text-align:center;width:99.84%">
                <span>
                    APPLICANT INFORMATION
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border" style="background-color: #F1F1F1;height:42px">
                <p>
                    FIRST NAME
                </p>
            </div>
            <div class="col-xs-3 left-border" style="height:42px">
                <p> {{data.first_name}}</p>
            </div>
            <div class="col-xs-1 left-border" style="background-color: #F1F1F1;height:42px">
                <p>
                    MIDDLE NAME
                </p>
            </div>
            <div class="col-xs-2 left-border" style="height:42px">
                <p> {{data.middle}}</p>
            </div>
            <div class="col-xs-1 left-border" style="background-color: #F1F1F1;height:42px">
                <p>
                    LAST NAME
                </p>
            </div>
            <div class="col-xs-3 left-border right-border" style="height:42px">
                <p> {{data.last_name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border top-border" style="background-color: #F1F1F1;height:42px">
                <p>
                    PHONE
                </p>
            </div>
            <div class="col-xs-3 left-border top-border" style="height:42px">
                <p> {{data.phone_number}}</p>
            </div>
            <div class="col-xs-1 left-border top-border" style="background-color: #F1F1F1;height:42px">
                <p>
                    EMAIL
                </p>
            </div>
            <div class="col-xs-6 left-border top-border right-border" style="height:42px">
                <p> {{data.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border top-border" style="background-color: #F1F1F1;height:42px">
                <p>
                    DATE OF BIRTH
                </p>
            </div>
            <div class="col-xs-3 left-border top-border" style="height:45px">
                <p> {{data.dateofBirth}}</p>
            </div>
            <div class="col-xs-2 left-border top-border" style="background-color: #F1F1F1;height:42px">
                <p>
                    SOCIAL SECUIRTY #
                </p>
            </div>
            <div class="col-xs-5 left-border top-border right-border" style="height:45px">
                <p> {{data.social_security}}</p>
            </div>
        </div>
        <div class="row">
        <div class="col-xs-2 left-border top-border bottom-border" style="background-color: #F1F1F1;height:42px">
            <p>
                DATE OF APPLICATION
            </p>
        </div>
        <div class="col-xs-2 left-border top-border bottom-border" style="height:42px">
            <p> {{data.dateOfApplication}}</p>
        </div>
        <div class="col-xs-2 left-border top-border bottom-border" style="background-color: #F1F1F1;height:42px">
            <p>
                POSITION APPLIED FOR
            </p>
        </div>
        <div class="col-xs-2 left-border top-border right-border bottom-border" style="height:42px">
            <p> {{data.applicationApplyAsPosition}}</p>
        </div>
        <div class="col-xs-2 left-border top-border bottom-border" style="background-color: #F1F1F1;height:42px">
            <p>
                DATE AVAILABLE FOR WORK
            </p>
        </div>
        <div class="col-xs-2 left-border top-border right-border bottom-border" style="height:42px">
            <p> {{data.startTime}}</p>
        </div>
    </div>
    </div>

    <!--  APPLICANT INFORMATION End  -->

    <div class="row" style="margin-top:2px">
        <div class="col-xs-6">
            <h6>
                Do you have legal right to work in the United States?
            </h6>
        </div>
        <div class="col-xs-6">
            <div class="row" style="margin-top:5px">
                <div class="col-xs-3">
                    <input type="checkbox" style="float:left;margin-right:10px">
                    <p>
                        YES
                    </p>
                </div>
                <div class="col-xs-3">
                    <input type="checkbox" style="float:left;margin-right:10px">
                    <p>
                        NO
                    </p>
                </div>
                <div class="col-xs-6">
                    &emsp;
                </div>
            </div>
        </div>
    </div>

    <!--  PREVIOUS THREE YEARS RESIDENCY Start  -->
    <div id="prevaddress" style="margin-top:15px">
        <div class="row" >
            <div class="" style="background-color: black; color: white; text-align:center;width:99.84%">
                <span>
                    PREVIOUS THREE YEARS RESIDENCY
                </span>
            </div>
        </div>
        <div class="row">
            <div class="left-border right-border" style="text-align:center;width:99.84%">
                <i>
                    Attach additional sheet if more space is needed
                </i>
            </div>
        </div>
        <div class="row" style="background-color: #F1F1F1;">
            <div class="col-xs-1 left-border top-border pl-0">
                &emsp;
            </div>
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">STREET</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">CITY</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">STATE</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">ZIP<br/>CODE</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                <span style="position:absolute; bottom:0" ># OF YEARS <br>
                    AT ADDRESS </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 left-border top-border pl-0" style="background-color: #F1F1F1;">
                <span style="position:absolute; bottom:0">CURRENT</span>
            </div>
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.address}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.city}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.state}}</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.zip_code}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                <span style="position:absolute; bottom:0">{{data.currentNumberOfYearsAtAddress}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 left-border top-border pl-0" style="background-color: #F1F1F1;">
                <span style="position:absolute; bottom:0">MAILING</span>
            </div>
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.address}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.city}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.state}}</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.zip_code}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                <span style="position:absolute; bottom:0">{{data.currentNumberOfYearsAtAddress}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 left-border top-border pl-0" style="background-color: #F1F1F1;">
                <span style="position:absolute; bottom:0">PREVIOUS</span>
            </div>
            {% if data.addresses and data.addresses[0]  %}
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.addresses[0].lastYearAddress}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.addresses[0].lastYearAddressCity}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.addresses[0].lastYearAddressState}}</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.addresses[0].lastYearAddressZipCode}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0">
                        {{data.addresses[0].lastYearAddressTo.year - data.addresses[0].lastYearAddressfrom.year}}
                    </span>
            </div>
            {% else %}
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-1 left-border top-border pl-0" style="background-color: #F1F1F1;">
                <span style="position:absolute; bottom:0">PREVIOUS</span>
            </div>
            {% if data.addresses and data.addresses[1]  %}
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.addresses[1].lastYearAddress}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.addresses[1].lastYearAddressCity}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.addresses[1].lastYearAddressState}}</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">{{data.addresses[1].lastYearAddressZipCode}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0">
                        {{data.addresses[1].lastYearAddressTo.year - data.addresses[1].lastYearAddressfrom.year}}
                    </span>
            </div>
            {% else %}
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-1 left-border top-border pl-0 bottom-border" style="background-color: #F1F1F1;">
                <span style="position:absolute; bottom:0">PREVIOUS</span>
            </div>
            {% if data.addresses and data.addresses[2]  %}
            <div class="col-xs-4 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">{{data.addresses[2].lastYearAddress}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">{{data.addresses[2].lastYearAddressCity}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">{{data.addresses[2].lastYearAddressState}}</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">{{data.addresses[2].lastYearAddressZipCode}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border bottom-border">
                    <span style="position:absolute; bottom:0">
                        {{data.addresses[2].lastYearAddressTo.year - data.addresses[2].lastYearAddressfrom.year}}
                    </span>
            </div>
            {% else %}
            <div class="col-xs-4 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border bottom-border">
                <span style="position:absolute; bottom:0">&emsp;</span>
            </div>
            {% endif %}
        </div>
    </div>

    <!--    PREVIOUS THREE YEARS RESIDENCY End-->

    <!--    LICENSE INFORMATION Start-->
    <div id="licences" style="margin-top:25px">
        <div class="row" >
            <div class="" style="background-color: black; color: white; text-align:center;width:99.84%">
                <span>
                    LICENSE INFORMATION
                </span>
            </div>
        </div>
        <div class="row">
            <div class="left-border right-border" style="text-align:center;width:99.84%">
                <p style="padding-top:5px;text-align: justify">
                    No person who operates a commercial motor vehicle shall at any time have more than one driver’s license (49 CFR 383.21).
                    I certify that I do not have more than one motor vehicle license, the information for which is listed below.
                    Include all licenses held for the past 3 years; attach additional sheets if needed
                </p>
            </div>
        </div>
        <div class="row" style="background-color: #F1F1F1;">
            <div class="col-xs-2 left-border top-border pl-0">
                <span>STATE</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span>LICENCE #</span>
            </div>
            <div class="col-xs-3 left-border top-border pl-0">
                <span>TYPE/CLASS</span>
            </div>
            <div class="col-xs-3 left-border top-border pl-0">
                <span>ENDORSEMENTS</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                <span>EXPIRATION DATE</span>
            </div>
        </div>
        <div class="row">
            {% if data.licences and data.licences[0] %}
                <div class="col-xs-2 left-border top-border pl-0">
                    <span>{{data.licences[0].stateOfLicence}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span>{{data.licences[0].licenceNumber}}</span>
                </div>
                <div class="col-xs-3 left-border top-border pl-0">
                    <span>{{data.licences[0].licenceType}}</span>
                </div>
                <div class="col-xs-3 left-border top-border pl-0">
                    <span>{{data.licences[0].licenceEndoresment}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span>{{data.licences[0].licenceExpirationDate}}</span>
                </div>
            {% else %}
                <div class="col-xs-2 left-border top-border pl-0">
                    <span>&emsp;</span>
                </div>
                <div class="col-xs-3 left-border top-border pl-0">
                    <span>&emsp;</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span>&emsp;</span>
                </div>
                <div class="col-xs-3 left-border top-border pl-0">
                    <span>&emsp;</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span>&emsp;</span>
                </div>
            {% endif %}
        </div>
        <div class="row" >
            <div class="top-border left-border right-border" style="background-color: #F1F1F1;text-align: center; width:99.84%">
                <span style="">
                    PREVOIUSLY HELD LICENSES
                </span>
            </div>
        </div>
        <div class="row">
            {% if data.licences and data.licences[1] %}
                <div class="col-xs-2 left-border top-border pl-0">
                    <span>{{data.licences[1].stateOfLicence}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span>{{data.licences[1].licenceNumber}}</span>
                </div>
                <div class="col-xs-3 left-border top-border pl-0">
                    <span>{{data.licences[1].licenceType}}</span>
                </div>
                <div class="col-xs-3 left-border top-border pl-0">
                    <span>{{data.licences[1].licenceEndoresment}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span>{{data.licences[1].licenceExpirationDate}}</span>
                </div>
            {% else %}
                <div class="col-xs-2 left-border top-border pl-0">
                    <span>&emsp;</span>
                </div>
                <div class="col-xs-3 left-border top-border pl-0">
                    <span>&emsp;</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span>&emsp;</span>
                </div>
                <div class="col-xs-3 left-border top-border pl-0">
                    <span>&emsp;</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span>&emsp;</span>
                </div>
            {% endif %}
        </div>
        <div class="row">
        {% if data.licences and data.licences[2] %}
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span>{{data.licences[2].stateOfLicence}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span>{{data.licences[2].licenceNumber}}</span>
            </div>
            <div class="col-xs-3 left-border top-border pl-0 bottom-border">
                <span>{{data.licences[2].licenceType}}</span>
            </div>
            <div class="col-xs-3 left-border top-border pl-0 bottom-border">
                <span>{{data.licences[2].licenceEndoresment}}</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border bottom-border">
                <span>{{data.licences[2].licenceExpirationDate}}</span>
            </div>
        {% else %}
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span>&emsp;</span>
            </div>
            <div class="col-xs-3 left-border top-border pl-0 bottom-border">
                <span>&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span>&emsp;</span>
            </div>
            <div class="col-xs-3 left-border top-border pl-0 bottom-border">
                <span>&emsp;</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border bottom-border">
                <span>&emsp;</span>
            </div>
        {% endif %}
    </div>
    </div>
    <!--    LICENSE INFORMATION End-->

    <!--   Driving Experience INFORMATION Start-->
    <div id="driving_experience_info" style="margin-top:25px">
        <div class="row">
            <div class="" style="background-color: black; color: white; text-align:center;width:99.84%">
                <span>
                    DRIVING EXPERIENCE
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border pl-0">
                <span style="position:absolute; bottom:0">CLASS OF EQUIPMENT</span>
            </div>
            <div class="col-xs-6 left-border pl-0">
                <span style="position:absolute; bottom:0">TYPE OF EQUIPMENT (VAN, TANK, FLAT, ETC.)</span>
            </div>
            <div class="col-xs-1 left-border pl-0">
                <span style="position:absolute; bottom:0">DATE FROM</span>
            </div>
            <div class="col-xs-1 left-border pl-0">
                <span style="position:absolute;bottom:0">
                    DATE TO &emsp;
                </span>
            </div>
            <div class="col-xs-2 left-border right-border pl-0">
                <span >
                    APPROX # OF
                    MILES (TOTAL)
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">STRAIGHT <br> TRUCK</span>
            </div>
            <div class="col-xs-6 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute;bottom:0">

                </span>
            </div>
            <div class="col-xs-2 left-border top-border right-border pl-0">
                <span >
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">TRACTOR &
                    <br>SEMI-TRAILER </span>
            </div>
            <div class="col-xs-6 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute;bottom:0">

                </span>
            </div>
            <div class="col-xs-2 left-border top-border right-border pl-0">
                <span >
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">TRACTOR & <br> 2 TRAILERS </span>
            </div>
            <div class="col-xs-6 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute;bottom:0">

                </span>
            </div>
            <div class="col-xs-2 left-border top-border right-border pl-0">
                <span >
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">TRACTOR & <br>TANKER</span>
            </div>
            <div class="col-xs-6 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0">
                <span style="position:absolute;bottom:0">

                </span>
            </div>
            <div class="col-xs-2 left-border top-border right-border pl-0">
                <span >
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0">OTHER</span>
            </div>
            <div class="col-xs-6 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0 bottom-border">
                <span style="position:absolute; bottom:0"></span>
            </div>
            <div class="col-xs-1 left-border top-border pl-0 bottom-border">
                <span style="position:absolute;bottom:0">

                </span>
            </div>
            <div class="col-xs-2 left-border top-border right-border pl-0 bottom-border">
                <span >
                </span>
            </div>
        </div>
    </div>
    <!--   Driving Experience INFORMATION Start-->

    <!--  Footer Dw4  Start  -->
    <div id="dwfooter" style="margin-top:25px; margin-bottom:25px">
        <div class="row">
            <div class="col-xs-12" style="text-align:right">
                <div class="row">
                    <p>Page 1 of 4</p>
                </div>
            </div>
        </div>
    </div>
    <!--  Footer Dw4  End -->
    <br/>
    <br/>

    <!--  PREVIOUS ACCIDENT RECORD FOR THE PAST 3 YEARS Start  -->
    <div id="prevAccidents" style="margin-top:15px">
        <div class="row" >
            <div class="" style="background-color: black; color: white; text-align:center;width:99.9%">
                <span>
                    ACCIDENT RECORD FOR THE PAST 3 YEARS
                </span>
            </div>
        </div>
        <div class="row">
            <div class="left-border right-border" style="text-align:center;width:99.9%">
                <i>
                    Attach additional sheet if more space is needed
                </i>
            </div>
        </div>
        <div class="row" style="background-color: #F1F1F1">
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">DATES <br>(List most recent first)</span>
            </div>
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">NATURE OF ACCIDENT (Head-on, rear-end, upset, etc.)</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"># FATALITIES</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0"># INJURIES</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0 right-border">
                <span style="position:absolute; bottom:0" >CHEMICAL SPILLS <br> (Y/N)
                </span>
            </div>
        </div>
        {% if data.accidents and data.accidents[0] %}
             <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.accidents[0].dateOfAccident}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.accidents[0].NumberOfAccidents}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.accidents[0].numberofFatalities}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.accidents[0].numberofPeopleleInjured}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0" >
                    </span>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0" >
                    </span>
                </div>
            </div>
        {% endif %}
        {% if data.accidents and data.accidents[1] %}
             <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.accidents[1].dateOfAccident}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.accidents[1].NumberOfAccidents}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.accidents[1].numberofFatalities}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.accidents[1].numberofPeopleleInjured}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0" >
                    </span>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0" >
                    </span>
                </div>
            </div>
        {% endif %}
        {% if data.accidents and data.accidents[2] %}
             <div class="row">
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0">{{data.accidents[2].dateOfAccident}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0">{{data.accidents[2].NumberOfAccidents}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0">{{data.accidents[2].numberofFatalities}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0">{{data.accidents[2].numberofPeopleleInjured}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border bottom-border">
                    <span style="position:absolute; bottom:0" >
                    </span>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 right-border bottom-border">
                    <span style="position:absolute; bottom:0" >
                    </span>
                </div>
            </div>
        {% endif %}
    </div>
    <!--    PREVIOUS ACCIDENT RECORD FOR THE PAST 3 YEARS End-->

    <!--  PREVIOUS Traffic Convictions RECORD FOR THE PAST 3 YEARS Start  -->
    <div id="prevConvictions" style="margin-top:15px">
        <div class="row" >
            <div class="" style="background-color: black; color: white; text-align:center;width:99.9%">
                <span>
                    TRAFFIC CONVICTIONS AND FORFEITURES FOR THE PAST 3 YEARS (OTHER THAN PARKING VIOLATIONS)
                </span>
            </div>
        </div>
        <div class="row">
            <div class="left-border right-border" style="text-align:center; width:99.9%">
                <i>
                    Attach additional sheet if more space is needed
                </i>
            </div>
        </div>
        <div class="row" style="background-color: #F1F1F1">
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">DATE CONVICTED <br>(MONTH/YEAR)</span>
            </div>
            <div class="col-xs-4 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">VIOLATION</span>
            </div>
            <div class="col-xs-2 left-border top-border pl-0">
                <span style="position:absolute; bottom:0">STATE OF VIOLATION</span>
            </div>
            <div class="col-xs-4 left-border top-border pl-0 right-border">
                <span style="position:absolute; bottom:0">PENALTY (Forfeited bond, collateral and/or points)</span>
            </div>
        </div>
        {% if data.violations and data.violations[0] %}
             <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[0].dateOfViolation}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[0].ViolationCharge}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[0].LocationOfViolation}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0">{{data.violations[0].ViolationPenalty}}</span>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
            </div>
        {% endif %}
        {% if data.violations and data.violations[1] %}
             <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[1].dateOfViolation}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[1].ViolationCharge}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[1].LocationOfViolation}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0">{{data.violations[1].ViolationPenalty}}</span>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
            </div>
        {% endif %}
        {% if data.violations and data.violations[2] %}
             <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[2].dateOfViolation}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[2].ViolationCharge}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0">{{data.violations[2].LocationOfViolation}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0">{{data.violations[2].ViolationPenalty}}</span>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 right-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
            </div>
        {% endif %}
        {% if data.violations and data.violations[3] %}
             <div class="row">
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0">{{data.violations[3].dateOfViolation}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0">{{data.violations[3].ViolationCharge}}</span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0">{{data.violations[3].LocationOfViolation}}</span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 right-border bottom-border">
                    <span style="position:absolute; bottom:0">{{data.violations[3].ViolationPenalty}}</span>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-2 left-border top-border pl-0 bottom-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
                <div class="col-xs-4 left-border top-border pl-0 right-border bottom-border">
                    <span style="position:absolute; bottom:0"></span>
                </div>
            </div>
        {% endif %}
    </div>
    <!--    PREVIOUS Traffic Convictions RECORD FOR THE PAST 3 YEARS End-->

    <!--  Checkbox  Start Denied -->
    <div class="row" style="margin-top:20px">
        <div class="col-xs-8">
            <p>
                Have you ever been denied a license, permit, or privilege to operate a motor vehicle?
            </p>
            <p>
                If yes, explain
            </p>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-3">
                    {% if data.deniedLicences == 'Yes' %}
                        <input type="checkbox" style="margin-right:15px;float:left" checked >
                        <span>Yes</span>
                    {% else %}
                        <input type="checkbox" style="margin-right:10px;float:left" >
                        <span>Yes</span>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    {% if data.deniedLicences == 'No' %}
                        <input type="checkbox" style="margin-right:10px;float:left" checked >
                        <span>No</span>
                    {% else %}
                        <input type="checkbox" style="margin-right:10px;float:left" >
                        <span>No</span>
                    {% endif %}
                </div>
                <div class="col-xs-6">
                    <span>&emsp;</span>
                </div>
            </div>
        </div>
    </div>
    <!--  Checkbox  End  Denied -->

    <!--  Checkbox  Start  permit -->
    <div class="row" style="margin-top:20px">
        <div class="col-xs-8">
            <p>
                Has any license, permit, or privilege ever been suspended or revoked?
            </p>
            <p>
                If yes, explain
            </p>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-3">
                    {% if data.permitLicences == 'Yes' %}
                        <input type="checkbox" style="margin-right:15px;float:left" checked >
                        <span>Yes</span>
                    {% else %}
                        <input type="checkbox" style="margin-right:10px;float:left" >
                        <span>Yes</span>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    {% if data.permitLicences == 'No' %}
                        <input type="checkbox" style="margin-right:10px;float:left" checked >
                        <span>No</span>
                    {% else %}
                        <input type="checkbox" style="margin-right:10px;float:left" >
                        <span>No</span>
                    {% endif %}
                </div>
                <div class="col-xs-6">
                    <span>&emsp;</span>
                </div>
            </div>
        </div>
    </div>
    <!--  Checkbox  End  permit -->

    <div id="prevemphistory" style="margin-top:15px">
        <div class="row" >
            <div class="" style="background-color: black; color: white; text-align:center;width:99.9%">
                <span>
                    EMPLOYMENT HISTORY
                </span>
            </div>
        </div>
        <div class="row">
            <div style="width:99.9%">
                <p style="padding-left:5px;padding-right:5px">
                    The Federal Motor Carrier Safety Regulations (49 CFR 391.21) require that all applicants wishing to drive a
                    commercial vehicle list all employment for the last three (3) years.<i><b>In addition, if you have driven a
                    commercial vehicle previously, you must provide employment history for an additionalseven (7) years (for a total of ten (10)
                    years). Any gaps in employment in excess of one (1)
                    month must be explained.
                    </b></i>
                </p>
                <p style="margin-top:10px;padding-left:5px;padding-right:5px">
                    Start with the last or current position, including any military experience,
                    and work backwards(attach separate sheets if necessary). You are required to list the
                    complete mailing address, including street number, city, state,zip; and complete all other information.
                </p>
            </div>
        </div>

        <div class="row" style="margin-top:15px">
            <div style="background-color:#F1F1F1;width:99.84%">
                <b>
                    CURRENT (MOST RECENT) EMPLOYER
                </b>
            </div>
        </div>

        {% if data.employmentHistory and data.employmentHistory[0] %}
            <div class="row">
                <div  class="col-xs-1 top-border left-border pl-0" style="background-color:#F1F1F1">
                    <span style="position:absolute; bottom:0">
                        NAME
                    </span>
                </div>
                <div  class="col-xs-6 top-border left-border pl-0">
                    <span style="position:absolute; bottom:0">
                        {{data.employmentHistory[0].}}
                    </span>
                </div>
                <div  class="col-xs-1 top-border left-border pl-0" style="background-color:#F1F1F1">
                    <span style="position:absolute; bottom:0">
                        PHONE
                    </span>
                </div>
                <div  class="col-xs-4 top-border left-border pl-0 right-border">
                    <span style="position:absolute; bottom:0">
                        PHONE
                    </span>
                </div>
            </div>
        {% else %}
        {% endif %}
    </div>

</div>
{% endblock %}