{% block driverpage1 %}
<div class="container">
    <div class="row" style="text-align:justify">
        <h5 style="background-color: #F1F1F1;">
            This is an example driver employment application. Carriers do not need to use this exact form, but must have a completed and
            signed employment application for all drivers that contains the information listed in
            <a style="color:#2813FE"
            href="https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&SID=a345060da120c0649f38b8715244f29e&h=L&mc=true&n=pt49.5.391&r=PART&ty=HTML#se49.5.391_121">
            49 CFR 391.21.</a>
        </h5>
    </div>
    <div class="row">
        <div class="col-xs-12 p-0" style="text-align:center" >
            <h4 style="margin:0px">
                <b>
                DRIVER EMPLOYMENTAPPLICATION
                </b>
            </h4>
            <h6 style="margin:0px">
                {{data.companyName}} &nbsp; {{data.companyAddress}} &nbsp; {{data.companyCity}} &nbsp; {{data.companyState}}
            </h6>
            <span>
                An Equal Opportunity Employer
            </span>
        </div>
    </div>
    <div class="row" style="margin-top:6px;font-size:10px">
        <span>
            COMPLETE IN FULL OR IT WILL NOT BE CONSIDERED
        </span>
    </div>
    <div class="row">
        <div class="col-xs-12" style="background-color: black; color: white; text-align:center">
            <span>
                APPLICANT INFORMATION
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 left-border" style="background-color: #F1F1F1;height:42px">
            <p>
                FIRST NAME
            </p>
        </div>
        <div class="col-xs-3 left-border" style="height:42px">
            <p> {{data.first_name}}</p>
        </div>
        <div class="col-xs-1 left-border" style="background-color: #F1F1F1;height:42px">
            <p>
                MIDDLE NAME
            </p>
        </div>
        <div class="col-xs-2 left-border" style="height:42px">
            <p> {{data.middle}}</p>
        </div>
        <div class="col-xs-1 left-border" style="background-color: #F1F1F1;height:42px">
            <p>
                LAST NAME
            </p>
        </div>
        <div class="col-xs-3 left-border right-border" style="height:42px">
            <p> {{data.last_name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 left-border top-border" style="background-color: #F1F1F1;height:42px">
            <p>
                PHONE
            </p>
        </div>
        <div class="col-xs-3 left-border top-border" style="height:42px">
            <p> {{data.phone_number}}</p>
        </div>
        <div class="col-xs-1 left-border top-border" style="background-color: #F1F1F1;height:42px">
            <p>
                EMAIL
            </p>
        </div>
        <div class="col-xs-6 left-border top-border right-border" style="height:42px">
            <p> {{data.email}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 left-border top-border" style="background-color: #F1F1F1;height:42px">
            <p>
                DATE OF BIRTH
            </p>
        </div>
        <div class="col-xs-3 left-border top-border" style="height:45px">
            <p> {{data.dateofBirth}}</p>
        </div>
        <div class="col-xs-2 left-border top-border" style="background-color: #F1F1F1;height:42px">
            <p>
                SOCIAL SECUIRTY #
            </p>
        </div>
        <div class="col-xs-5 left-border top-border right-border" style="height:45px">
            <p> {{data.social_security}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 left-border top-border bottom-border" style="background-color: #F1F1F1;height:42px">
            <p>
                DATE OF APPLICATION
            </p>
        </div>
        <div class="col-xs-2 left-border top-border bottom-border" style="height:42px">
            <p> {{data.dateOfApplication}}</p>
        </div>
        <div class="col-xs-2 left-border top-border bottom-border" style="background-color: #F1F1F1;height:42px">
            <p>
                POSITION APPLIED FOR
            </p>
        </div>
        <div class="col-xs-2 left-border top-border right-border bottom-border" style="height:42px">
            <p> {{data.applicationApplyAsPosition}}</p>
        </div>
        <div class="col-xs-2 left-border top-border bottom-border" style="background-color: #F1F1F1;height:42px">
            <p>
                DATE AVAILABLE FOR WORK
            </p>
        </div>
        <div class="col-xs-2 left-border top-border right-border bottom-border" style="height:42px">
            <p> {{data.startTime}}</p>
        </div>
    </div>
    <div class="row" style="margin-top:2px">
        <div class="col-xs-6">
            <h6>
                Do you have legal right to work in the United States?
            </h6>
        </div>
        <div class="col-xs-6">
            <div class="row" style="margin-top:5px">
                <div class="col-xs-3">
                    <input type="checkbox" style="float:left;margin-right:10px">
                    <p>
                        YES
                    </p>
                </div>
                <div class="col-xs-3">
                    <input type="checkbox" style="float:left;margin-right:10px">
                    <p>
                        NO
                    </p>
                </div>
                <div class="col-xs-6">
                    &emsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-xs-12" style="background-color: black; color: white; text-align:center">
            <span>
                PREVIOUS THREE YEARS RESIDENCY
            </span>
        </div>
        <div class="col-xs-12 left-border right-border" style="text-align:center">
            <i>
                Attach additional sheet if more space is needed
            </i>
        </div>
    </div>
    <div class="row" style="background-color: #F1F1F1;">
        <div class="col-xs-1 left-border top-border pl-0">
            &emsp;
        </div>
        <div class="col-xs-4 left-border top-border pl-0">
            <span style="position:absolute; bottom:0">STREET</span>
        </div>
        <div class="col-xs-3 left-border top-border pl-0">
            <span style="position:absolute; bottom:0">CITY</span>
        </div>
        <div class="col-xs-2 left-border top-border pl-0">
            <span style="position:absolute; bottom:0">STATE</span>
        </div>
        <div class="col-xs-1 left-border top-border pl-0">
            <span style="position:absolute; bottom:0">ZIP<br/>CODE</span>
        </div>
        <div class="col-xs-1 left-border top-border pl-0">
            <span style="position:absolute; bottom:0"># OF YEARS
                AT ADDRESS </span>
        </div>
    </div>
    <div class="row" style="background-color: #F1F1F1;">
        <div class="col-xs-1 left-border top-border pl-0">
            CURRENT
        </div>
        <div class="col-xs-4 left-border top-border pl-0">
            <span style="position:absolute; bottom:0">{{data.}}</span>
        </div>
        <div class="col-xs-3 left-border top-border pl-0">
            <span style="position:absolute; bottom:0">CITY</span>
        </div>
        <div class="col-xs-2 left-border top-border pl-0">
            <span style="position:absolute; bottom:0">STATE</span>
        </div>
        <div class="col-xs-1 left-border top-border pl-0">
            <span style="position:absolute; bottom:0">ZIP<br/>CODE</span>
        </div>
        <div class="col-xs-1 left-border top-border pl-0">
            <span style="position:absolute; bottom:0"># OF YEARS
                AT ADDRESS </span>
        </div>
    </div>
</div>
{% endblock %}