{% block footer %}
<div class="container">
    <div class="row" style="margin-top:100px">
        <div class="col-xs-4" style="text-align: right;">
             <img  src="data:image/png;base64,{{data.stop_img_string }}" class="stop_img-class">
        </div>
        <div class="col-xs-4 " style="text-align: center;">
             <p style="background-color:#C0C1C4; margin-top:10px"><i>Employer Completes Next Page</i></p>
        </div>
        <div class="col-xs-4" style="text-align: left;">
             <img  src="data:image/png;base64,{{data.stop_img_string }}" class="stop_img-class">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="border: 1px solid black; margin-top: 5px;"></div>
    </div>
    <div class="row">
        <div class="col-xs-6" style="text-align:left">
            <p>Form I-9 {{data.todayDate}}</p>
        </div>
        <div class="col-xs-6" style="text-align:left">
            <p style="text-align: right;">{{data.page_no}}</p>
        </div>
    </div>
</div>
{% endblock %}