<!--{% include "header.html" %}-->
{% block content %}
<div class="container">
    <div id="header">
        {% with data=data %}
            {% include "header.html" %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col-xs-12" style="border: 5px solid black;"></div>
        <div class="col-xs-12" style="border: 1px solid grey;margin-top: 5px;"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 p-0" >
            <p>
                <b>
                &rarr; START HERE: Read instructions carefully before completing this form. The instructions must be available,
                either in paper or electronically, during completion of this form. Employers are liable for errors in the completion of this form
                </b>
            </p>
        </div>
        <div class="col-xs-12 p-0">
            <p style="text-align: justify;">
                <b>ANTI-DISCRIMINATION NOTICE :</b> It is illegal to discriminate against work-authorized individuals. Employers CANNOT specify which document(s) an employee may present to establish employment authorization and identity.
                    The refusal to hire or continue to employ an individual because the documentation presented has a future expiration date may also constitute illegal discriminatio
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 employee">
            <p>
                <b>
                    Section  1. Employee Information and Attestation
                </b>
                <i>
                    (Employees must complete and sign Section 1 of Form I-9 no later
                    than the first day of employment, but not before accepting a job offer.)
                </i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 left-border ">
            <p>
                Last Name (<i>Family Name</i>)
            </p>
            <p> {{data.last_name}}</p>
        </div>
        <div class="col-xs-3 left-border">
            <p>
                First Name (<i>Given Name</i>)
           </p>
           <p> {{data.first_name}}</p>
        </div>
        <div class="col-xs-2 left-border">
            <p>
                Middle (<i>Initial</i>)
            </p>
            <p> {{data.middle}}</p>
        </div>
        <div class="col-xs-3 left-border right-border">
            <p>
                Other Last Name Used (<i>If any</i>)
            </p>
            <p> {{data.last_name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 top-border left-border">
            <p>
                Adress (<i>Street Number and Name</i>)
            </p>
            <p> {{data.address}}</p>
        </div>
        <div class="col-xs-2 left-border top-border">
            <p>
                Apt. Number
           </p>
           <p> {{data.apt_number}}</p>
        </div>
        <div class="col-xs-2 left-border top-border">
            <p>
                City or Town
           </p>
           <p> {{data.city}}</p>
        </div>
        <div class="col-xs-1 left-border top-border">
            <p>
                State
            </p>
            <p> {{data.state}}</p>
        </div>
        <div class="col-xs-2 left-border top-border right-border">
            <p>
                Zip Code
            </p>
            <p> {{data.zip_code}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 top-border left-border bottom-border">
            <p>
                Date of Birth (<i>mm/dd/yyyy</i>)
            </p>
            <p> {{data.dateofBirth}}</p>
        </div>
        <div class="col-xs-3 left-border top-border bottom-border">
            <p>
                Social Security Number
           </p>
           <div class="box" style="margin-left:4px;">{{data.social_security1}}</div>
           <div class="box">{{data.social_security2}}</div>
           <div class="box">{{data.social_security3}}</div>
           <div class="box1">-</div>
           <div class="box">{{data.social_security4}}</div>
           <div class="box">{{data.social_security5}}</div>
           <div class="box1">-</div>
           <div class="box">{{data.social_security6}}</div>
           <div class="box">{{data.social_security7}}</div>
           <div class="box">{{data.social_security8}}</div>
           <div class="box">{{data.social_security9}}</div>
        </div>
        <div class="col-xs-3 left-border top-border bottom-border">
            <p>
                Employee's E-mail Address
            </p>
            <p> {{data.email}}</p>
        </div>
        <div class="col-xs-3 top-border left-border bottom-border right-border">
            <p>
                Employee's Tel. Number
            </p>
            <p> {{data.phone_number}}</p>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-top:5px">
            <b>
             I am aware that federal law provides for imprisonment and/or fines for false statements or use of false documents in
             connection with the completion of this form.
             </b>
        </div>
        <div class="col-xs-12" style="margin-top:5px">
             <b>
                I attest, under penalty of perjury, that I am (check one of the following boxes):
             </b>
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-xs-12 top-border left-border right-border">
            <div style="width: 100%;">
                {% if data.united_state_citizen == True %}
                    <input type="checkbox" style="width: 15px;float: left; margin-right: 15px;" checked>
                {% else %}
                    <input type="checkbox" style="width: 15px;float: left; margin-right: 15px;">
                {% endif %}
                <p>
                    1. A citizen of the United States
                </p>
            </div>
        </div>
         <div class="col-xs-12 top-border left-border right-border">
            <div style="width: 100%;">
                {% if data.non_united_state_citizen == True %}
                    <input type="checkbox" style="width: 15px;float: left; margin-right: 15px;" checked>
                {% else %}
                    <input type="checkbox" style="width: 15px;float: left; margin-right: 15px;">
                {% endif %}
                <p>
                    2. A noncitizen national of the United States (<i>See instructions</i>)
                </p>
            </div>
        </div>
        <div class="col-xs-12 top-border left-border right-border bottom-border">
            <div style="width: 100%;">
                {% if data.lawful_permanent_resident == True %}
                    <input type="checkbox" style="width: 15px;float: left; margin-right: 15px;" checked>
                {% else %}
                    <input type="checkbox" style="width: 15px;float: left; margin-right: 15px;">
                {% endif %}
                <p>
                    3. A lawful permanent resident &emsp; (<i>Alien Registration Number/USCIS Number</i>) &emsp;&emsp;&emsp;
                    <u>{{data.alien_registration_number}}</u>
                </p>
            </div>
        </div>
        <div class="col-xs-9 left-border right-border bottom-border">
            <div class="row">
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12">
                             {% if data.alien_authorized == True %}
                                <input type="checkbox" style="width: 15px;float: left; margin-right: 15px;" checked>
                             {% else %}
                                <input type="checkbox" style="width: 15px;float: left; margin-right: 15px;">
                             {% endif %}
                            <p>
                                4. An alien authorized to work until
                                (expiration date, if applicable, mm/dd/yyyy):
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span style="padding-left:45px;">Some aliens may write "N/A" in the expiration date field. (<i>See Instructions</i>)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <p style="text-align: center; padding-top:5px; margin-left:-15px">
                        {% if data.alien_registration_number %}
                            <u>{{data.alien_registration_number}}</u>
                        {% else %}
                            <u>12345678</u>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <i>
                            Aliens authorized to work must provide only one of the following document numbers to complete Form I-9:
                        An Alien Registration Number/USCIS Number OR Form I-94 Admission Number OR Foreign Passport Number
                        </i>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <span>
                                <b>1.</b>&nbsp; Alien Registration Number/USCIS Number:
                            </span>
                        </div>
                        <div class="col-xs-6">
                            <span>
                                {% if data.alien_registration_number %}
                                    <u>{{data.alien_registration_number}}</u>
                                {% else %}
                                    <u>12345678</u>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <b style="padding-left:60px">
                        OR
                    </b>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-5">
                            <span>
                                <b>2.</b>&nbsp; Form I-94 Admission Number:
                            </span>
                        </div>
                        <div class="col-xs-7">
                            <span>
                                {% if data.formi94_reg %}
                                    <u>{{data.formi94_reg}}</u>
                                {% else %}
                                    <u>12345678</u>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <b style="padding-left:60px">
                        OR
                    </b>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-5">
                            <span>
                                <b>3.</b>&nbsp; Foreign Passport Number:<br/>
                            </span>
                        </div>
                        <div class="col-xs-7">
                            <span>
                                {% if data.foreign_passport_number %}
                                    <u>
                                        {{data.foreign_passport_number}}
                                    </u>
                                {% else %}
                                    <u>
                                    12345678
                                    </u>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-5">
                            <span style="padding-left:14px">
                                &nbsp;Country of Issuance:<br/>
                            </span>
                        </div>
                        <div class="col-xs-7">
                            <span>
                                {% if data.issuance_country %}
                                    <u>
                                        {{data.issuance_country}}
                                    </u>
                                </span>
                                {% else %}
                                <u>
                                    America
                                </u>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-3 right-border top-border bottom-border" style="margin-top:40px; height:180px">
            <p style="text-align: center; vertical-align: top;">
                QR Code - Section 1  <br/>
                Do Not Write In This Space
            </p>
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-xs-8 top-border left-border bottom-border">
            <p>
                Signature of Employee
            </p>
            <img src="data:image/png;base64,{{data.signature }}" alt={data.user_name}>
        </div>
        <div class="col-xs-4 top-border left-border bottom-border right-border">
            <p>
                Today's Date (<i>mm/dd/yyyy</i>)
            </p>
            <p>
                {{data.todayDate}}
            </p>
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-xs-12" style="background-color: #C0C1C4;">
            <div>
                <div>
                    <p>
                        <b>
                            Preparer and/or Translator Certification (check one):
                        </b>
                    </p>
                </div>
                <div>
                    <input type="checkbox" style="float: left">
                    <p style="float: left;padding-right: 70px;">
                        &emsp;I did not use a preparer or translator
                    </p>
                    <input type="checkbox" style="float:left;">
                    <p>
                        &emsp;A preparer(s) and/or translator(s) assisted the employee in completing Section 1
                    </p>
                    <p>
                        <i>
                            (Fields below must be completed and signed when preparers and/or translators assist an employee in completing Section 1.)
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:2px">
        <div class="col-xs-12">
            <b>
                I attest, under penalty of perjury, that I have assisted in the completion of Section 1 of this form and that to the best of my
                knowledge the information is true and correct.
            </b>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 top-border left-border">
                <p>
                    Signature of Preparer or Translator
                </p>
                <img src="data:image/png;base64,{{data.signature }}" alt={data.user_name}>
        </div>
        <div class="col-xs-3 top-border right-border left-border ">
            <p>
                Today's Date (<i>mm/dd/yyyy</i>)
            </p>
            <p>
                {{data.todayDate}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 top-border left-border">
            <p>
                Last Name (<i>Family Name</i>)
            </p>
            <p>
                {{data.last_name}}
            </p>
        </div>
        <div class="col-xs-6 top-border left-border right-border">
            <p>
                First Name (<i>Given Name</i>)
            </p>
            <p>
                {{data.first_name}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 top-border left-border bottom-border">
             <p>
                Address (<i>Street Number and Name</i>)
            </p>
            <p>
                {{data.address}}
            </p>
        </div>
        <div class="col-xs-3 top-border left-border bottom-border">
            <p>
                City or Town
            </p>
            <p>
                {{data.city}}
            </p>
        </div>
        <div class="col-xs-1 top-border left-border bottom-border">
            <p>
                State
            </p>
            <p>
                {{data.state}}
            </p>
        </div>
        <div class="col-xs-2 top-border left-border bottom-border right-border">
             <p>
                Zip Code
            </p>
            <p>
                {{data.zip_code}}
            </p>
        </div>
    </div>
    <div id="footer">
        {% with data=data %}
            {% include "footer.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}