{% block page3 %}
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="border:5px solid black">
        </div>
        <div class="col-xs-12" style="border: 1px solid grey;margin-top: 5px">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center" >
                <h3><b>LISTS OF ACCEPTABLE DOCUMENTS
                    <br> All documents must be UNEXPIRED</b></h3>
                <p> Employees may present one selection from List A
                    <br>or a combination of one selection from List B and one selection from List C.</p>
        </div>
    </div>
    <div class="row" style="font-weight:bolder; border:1px solid black">
        <div class="" style="width:33%;float:left">
            <p style="text-align:center">
                List A
            </p>
            <p style="text-align:center">
                Documents that Establish Both Identity and <br>Employment Authorization
            </p>
        </div>
        <div class="" style="width:3%;float:left; background-color: #C0C1C4;height:72px;padding-top:50px">
            <p style="">
                OR
           </p>
        </div>
        <div class="" style="width:29%;float:left; text-align:center">
            <p>
                List B
            </p>
            <p>
                Documents that Establish
                Identity
            </p>
        </div>
        <div class="" style="width:3%;float:left;padding-top:50px">
            <p style="">
                AND
           </p>
        </div>
        <div class="" style="width:32%; float:left">
            <p style="text-align:center">
                List C
            </p>
            <p style="text-align:center">
                Documents that Establish<br>
                Employment Authorization
            </p>
        </div>
    </div>
    <div class="row">
        <div class="" style="width:33%;float:left">
            <div class="left-border right-border">
                <div style="float: left; margin-right:4px">
                    <b>1.</b>
                </div>
                <div>
                     U.S. Passport or U.S. Passport Card
                </div>
            </div>
            <div class="left-border right-border top-border">
                <div style="height:40px;float: left; margin-right:4px">
                    <b>2. </b>
                </div>
                <div>
                     Permanent Resident Card or Alien Registration Receipt Card (Form I-551)
                </div>
            </div>
            <div class="left-border right-border top-border">
                <div style="height:50px;float: left; margin-right:4px">
                    <b>3. </b>
                </div>
                <div>
                     Foreign passport that contains a
                    temporary I-551 stamp or temporary
                    I-551 printed notation on a machinereadable immigrant visa
                </div>
            </div>
            <div class="left-border right-border top-border">
                <div style="height:40px;float: left; margin-right:4px">
                    <b>4. </b>
                </div>
                <div>
                      Employment Authorization Document
                    that contains a photograph (Form
                    I-766)
                </div>
            </div>
            <div class="left-border right-border top-border">
                <div style="height:180px;float: left; margin-right:4px">
                    <b>5. </b>
                </div>
                <div>
                    <p>
                      For a nonimmigrant alien authorized
                      to work for a specific employer
                      because of his or her status:
                    </p>
                    <p>
                        <b>a.</b>&nbsp;&nbsp; Foreign passport; and
                    </p>
                    <p>
                        <b>b.</b>&nbsp;&nbsp; Form I-94 or Form I-94A that has the following
                    </p>
                    <p style="float:left">&emsp;(1)</p>
                    <p>
                          &nbsp;The same name as the passport;
                    </p>
                    <p style="float: left;height:120px">
                        &emsp;(2)
                    </p>
                    <p>
                        &nbsp;An endorsement of the alien's
                            nonimmigrant status as long as
                            that period of endorsement has
                            not yet expired and the
                            proposed employment is not in
                            conflict with any restrictions or
                            limitations identified on the form.
                    </p>
                </div>
            </div>
            <div class="left-border right-border top-border bottom-border" style="height:180px">
                <div style="height:120px;float: left; margin-right:4px">
                    <b>6. </b>
                </div>
                <div>
                      Passport from the Federated States
                        of Micronesia (FSM) or the Republic
                        of the Marshall Islands (RMI) with
                        Form I-94 or Form I-94A indicating
                        nonimmigrant admission under the
                        Compact of Free Association Between
                        the United States and the FSM or RMI
                </div>
            </div>
        </div>
        <div class="" style="width:3%;float:left; background-color: #C0C1C4;padding-top:50px;height:584px">
            <p style="">

           </p>
        </div>
        <div class="" style="width:29%;float:left">
            <div class="left-border">
                <b style="height:90px; float: left; margin-right:4px">
                    1.
                </b>
                <div class="">
                        Driver's license or ID card issued by a
                        State or outlying possession of the
                        United States provided it contains a
                        photograph or information such as
                        name, date of birth, gender, height, eye
                        color, and address
                </div>
            </div>
            <div class="top-border left-border">
                <b style="height:90px; float: left; margin-right:4px;">
                2.
                </b>
                <div class="">
                         ID card issued by federal, state or local
                        government agencies or entities,
                        provided it contains a photograph or
                        information such as name, date of birth,
                        gender, height, eye color, and address
                </div>
            </div>
            <div class="top-border left-border" style="height:27px">
                <b style="float: left; margin-right:4px">
                3.
                </b>
                <div class="">
                         School ID card with a photograph
                </div>
            </div>
            <div class="top-border left-border" style="height:27px">
                <b style="float: left; margin-right:4px">
                4.
                </b>
                <div class="">
                         Voter's registration card
                </div>
            </div>
            <div class="top-border left-border" style="height:27px">
                <b style="float: left; margin-right:4px;">
                5.
                </b>
                <div class="">
                          U.S. Military card or draft record
                </div>
            </div>
            <div class="top-border left-border" style="height:27px">
                <b style="float: left; margin-right:4px">
                6.
                </b>
                <div class="">
                    Military dependent's ID card
                </div>
            </div>
            <div class="top-border left-border" style="height:27px">
                <b style="float: left; margin-right:4px">
                7.
                </b>
                <div class="">
                    U.S. Coast Guard Merchant Mariner Card
                </div>
            </div>
            <div class="top-border left-border" style="height:27px">
                <b style="float: left; margin-right:4px">
                8.
                </b>
                <div class="">
                    Native American tribal document
                </div>
            </div>
            <div class="top-border left-border" style="height:40px">
                <b style="height:80px;float: left; margin-right:4px">
                9.
                </b>
                <div class="">
                    Driver's license issued by a Canadian
                    government authority
                </div>
            </div>
            <div class="top-border left-border" style="text-align:center">
                <b>
                    For persons under age 18 who are
                    unable to present a document
                    listed above:
                </b>
            </div>
            <div class="top-border left-border" style="height:27px">
                <b style="float: left; margin-right:4px">
                10.
                </b>
                <div class="">
                    School record or report card
                </div>
            </div>
            <div class="top-border left-border"  style="height:27px">
                <b style="float: left; margin-right:4px">
                11.
                </b>
                <div class="">
                    Clinic, doctor, or hospital record
                </div>
            </div>
            <div class="top-border left-border bottom-border" style="height:85px">
                <b style="float: left; margin-right:4px;">
                12.
                </b>
                <div class="">
                     Day-care or nursery school record
                </div>
            </div>
        </div>
        <div class="left-border right-border" style="width:35%;float:left;">
            <div style="height:130px; float: left; margin-right:4px">
                <b>1.</b>
            </div>
            <div class="">
                    A Social Security Account Number
                    card, unless the card includes one of
                    the following restrictions:
                    <br>
                    (1) NOT VALID FOR EMPLOYMENT
                    <br>
                    (2) VALID FOR WORK ONLY WITH INS AUTHORIZATION
                    <br>
                    (3) VALID FOR WORK ONLY WITH DHS AUTHORIZATION
            </div>
        </div>
        <div class="left-border right-border top-border" style="width:35%;float:left;">
            <div style="height:60px; float: left; margin-right:4px">
                <b>2.</b>
            </div>
            <div class="">
                   Certification of report of birth issued
                    by the Department of State (Forms
                    DS-1350, FS-545, FS-240
            </div>
        </div>
        <div class="left-border right-border top-border" style="width:35%;float:left;">
            <div style="height:80px; float: left; margin-right:4px">
                <b>3.</b>
            </div>
            <div class="">
                     Original or certified copy of birth
                     certificate issued by a State,
                     county, municipal authority, or
                     territory of the United States
                     bearing an official seal.
            </div>
        </div>
        <div class="left-border right-border top-border" style="width:35%;float:left; height:40px">
            <div style="float: left; margin-right:4px">
                <b>4.</b>
            </div>
            <div class="">
                     Native American tribal document
            </div>
        </div>
        <div class="left-border right-border top-border" style="width:35%;float:left; height:40px">
            <div style="float: left; margin-right:4px">
                <b>5.</b>
            </div>
            <div class="">
                U.S. Citizen ID Card (Form I-197)
            </div>
        </div>
        <div class="left-border right-border top-border" style="width:35%;float:left;">
            <div style="height:40px;float: left; margin-right:4px">
                <b>6.</b>
            </div>
            <div class="">
                Identification Card for Use of
                Resident Citizen in the United
                States (Form I-179)
            </div>
        </div>
        <div class="left-border right-border top-border bottom-border" style="width:35%;float:left; height:180px">
            <div style="height:40px;float: left; margin-right:4px">
                <b>7.</b>
            </div>
            <div class="">
                Employment authorization
                document issued by the
                Department of Homeland Security
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-xs-12" style="border: 1px solid black; margin-top: 5px;"></div>
    </div>
    <div class="row">
        <div class="col-xs-6" style="text-align:left">
            <p>Form I-9 {{data.todayDate}}</p>
        </div>
        <div class="col-xs-6" style="text-align:left">
            <p style="text-align: right;">Page 2 of 3</p>
        </div>
    </div>
</div>
{% endblock %}