{% block header %}
<div class="container">
    <div class="row">
        <div class="col-xs-3 text-left">
            <img  src="data:image/png;base64,{{data.img_string }}" class="img-class">
        </div>
        <div class="col-xs-6 text-center" >
                <h3>Employment Eligibility Verification
                <br> Department of Homeland Security</h3>
                <p> U.S. Citizenship and Immigration Services </p>
        </div>
        <div class="col-xs-3 text-right">
            <h3>USCIS Form I-9</h3>
            <p> OMB No. 1615-0047 <br/>Expires {{data.expireson}}</p>
        </div>
    </div>
</div>
{% endblock %}

